<div class="card">
  <div class="card--header card--secondry">
    <h3 class="card--heading">Business</h3>
    <span class="plan--popular"></span> <span class="card--price">$24/</span
    ><span>month</span>
    <span class="badges badges--secondry">10 % off</span>
    <p class="card--para">Optimal cloud experience</p>
  </div>
  <div class="card--footer">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur amet
    officia assumenda quas incidunt dolorem quaerat voluptates sed velit est.
    <button class="btns btns--primary btns--big">Buy</button>
  </div>
</div>
