<blockquote class="quotes">
  <p class="quotes--content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio ullam
    exercitationem expedita sunt praesentium qui quasi nostrum dicta adipisci?
    Perspiciatis ipsam, atque earum molestias quod iure minus at incidunt
    reiciendis hic, quos optio, doloribus neque? Odit quisquam rerum esse cumque
    dignissimos quae blanditiis voluptatum eveniet maxime assumenda est, ad hic.
  </p>
  <div class="media">
    <div class="media--image">
      <svg class="icon icon--primary quotes--icon">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media--body">
      <h3 class="media--heading quotes--name">John Smith</h3>
      <p class="quotes--company">ABC Company</p>
    </div>
  </div>
</blockquote>
