<div class="card card--testimonial">
  <div class="grid grid--1x2">
    <div class="imageicon--container">
      <img
        class="image--testimonial"
        src="images/testimonial.jpg"
        alt="The image of the author"
      />
      <span class="icon-container icon--accent icon--testimonial">
        <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quotes">
      <p class="quotes--content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, fuga?
        Consectetur minus veritatis nihil eligendi et laborum pariatur, aperiam
        nemo voluptate alias ad quibusdam cumque, officiis accusantium facere
        reiciendis adipisci.
      </p>
      <div class="media">
        <div class="media--image">
          <svg class="icon icon--primary quotes--icon">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media--body">
          <h3 class="media--heading quotes--name">John Smith</h3>
          <p class="quotes--company">ABC Company</p>
        </div>
      </div>
    </blockquote>
  </div>
</div>
