<section class="block">
  <header class="block--header">
    <h2>What our customers are saying</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ex.</p>
  </header>
  <div class="container">
    <div class="card card--testimonial">
      <div class="grid grid--1x2">
        <div class="imageicon--container">
          <img
            class="image--testimonial"
            src="images/testimonial.jpg"
            alt="The image of the author"
          />
          <span class="icon-container icon--accent icon--testimonial">
            <svg class="icon icon--white">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quotes">
          <p class="quotes--content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            aliquid quaerat laborum quod ut ratione, dolorem cupiditate odit?
            Deserunt doloribus eos, possimus cumque deleniti odit!
          </p>
          <div class="media">
            <div class="media--image">
              <svg class="icon icon--primary quotes--icon">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media--body">
              <h3 class="media--heading quotes--name">John Smith</h3>
              <p class="quotes--company">ABC Company</p>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
